In [1]:
import pandas as pd

### **DataFrame type:**

In [2]:
data = pd.read_csv('lsd_math_score_data.csv')

In [3]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [4]:
type(data)

pandas.core.frame.DataFrame

### **Series type:**

In [5]:
# extracting a column from a DataFrame gives you a Series
avgMathScoreCol = data['Avg_Math_Test_Score']

In [6]:
avgMathScoreCol

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [7]:
type(avgMathScoreCol)

pandas.core.series.Series



*A DataFrame is a collection of series.*

*Each column of a DataFrame is a Series structure.*

*It contains the data, a name and the type of the data it carries.*

In [8]:
avgMathScoreCol.name

'Avg_Math_Test_Score'

### Getting a sub DataFrame:

In [9]:
columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
type(columnList)

list

In [10]:
newData = data[columnList]
print(newData)
type(newData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

pandas.core.frame.DataFrame

### Adding/Deleting new col:

In [11]:
newData['New_Column'] = newData['LSD_ppm'] + newData['Avg_Math_Test_Score']
print(newData)

   LSD_ppm  Avg_Math_Test_Score  New_Column
0     1.17                78.93       80.10
1     2.97                58.20       61.17
2     3.26                67.47       70.73
3     4.69                37.47       42.16
4     5.83                45.65       51.48
5     6.00                32.92       38.92
6     6.41                29.97       36.38

In [12]:
del newData['New_Column']
print(newData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97